<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page here</title>
</head>
<body>
test register

<form method="post" action="register">
  {% csrf_token %}
    <input name="password" type="password"  placeholder="Password">
<input name="username" type="text"  placeholder="username">
<input name="email" type="email"  placeholder="haris@">
    <input name="cpassword" type="password"  placeholder="password">






  <input type="text" name="first_name"  placeholder="1234 Main St">


  <input type="text"  name="last_name" placeholder="Apartment, studio, or floor">


 <input type="submit" >
</form>
{% for msg in messages %}
{{msg}}
{% endfor %}
</body>
</html>